rect,
path {
  transition: fill 0.225s linear;
}
.wallet-info-row {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  align-items: center;
  row-gap: 4px;
  position: relative;
  padding: 4px 12px;
  box-sizing: border-box;
  scroll-margin: 6px;
  border-radius: 22px;
  background-color: var(--wallet-card-bg);
  box-shadow: var(--wallet-card-shadow);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

  // &.opened {
  //   border: 1px solid var(--wallet-card-opened-border);
  // }

  .information-panel {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    .currency-icon {
      @include icon-size(36px);
      &.add-background {
        background: $light-blue;
        padding: 6px;
        border-radius: 50%;
        @include icon-size(24px);
      }
    }

    .history-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      --wallet-icon-border-color: var(--wallet-card-border);
      // --wallet-icon-background: transparent;
      rect {
        fill: transparent;
      }
      path {
        fill: $sky;
      }

      svg:hover {
        rect {
          fill: $sky;
        }
        path {
          fill: white;
        }
        // --wallet-icon-background: #{$sky};\
        --wallet-icon-border-color: #{$sky};
      }
    }

    .main-value-label {
      flex: 1;
      color: var(--main-font-color);
      @include poppins500(18px);
    }

    .value {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .main-value {
        color: var(--main-font-color);
        @include poppins700(14px);
      }
      .sub-value {
        color: #929292;
        @include poppins400(12px);
      }
    }
  }

  .actions-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    column-gap: 5px;
    row-gap: 5px;
    align-items: center; /* Align items */
    width: 100%;
  }

  .token-info-panel {
    @include poppins500(13px);
    color: var(--main-font-color);
    opacity: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .token-info-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      column-gap: 8px;

      .label {
        text-align: left;
      }
      .value {
        text-align: right;
      }
      .icon {
        @include icon-size(16px);
      }
    }

    &.has-button-in-list {
      .token-info-row {
        grid-template-columns: 1fr 1fr 16px;
      }
    }
  }
}
